nav{
    background-color: #444;
    padding: 12px 20px;
    height:60px;
    
}
ul li .a{
color: white;
text-decoration: none;
}
    
.carousel-image {
    width: 500px;
    /* Adjust as needed */
    height: 400px;
    /* Adjust as needed */
    object-fit: cover;
    /* Ensures the image fits without distortion */
    margin-right: 10px;
    /* Optional spacing between images */
}